# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi
*.ps

# Backup files
*~
*.bak
*.tmp

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Other files
*.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar


